@font-face {
    src: url("../images/ka1.ttf");
    font-family: karma arcade;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    background-color: #aaaaaa;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/snake-wallpaper.jpg);
}

#score,
.score-label {
    font-family: karma arcade;
}

.score-label {
    margin-right: 1em;
}

.board {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    background: #e9e9e9;
    box-shadow: 0 0 0.6em #3d3434a9;
    display: flex;
    border-radius: 20px;
    border: solid 10px #80c037;
    justify-content: center;
    align-items: center;
}

#start-button {
    box-shadow: 2px 2px 5px #000;
    padding: 0.9em 1.1em;
    font-size: 2rem;
    border-radius: 50%;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: #e6f1af;
    background: -moz-linear-gradient(left, #e6f1af 0%, #a8b94f 100%);
    background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, #e6f1af),
        color-stop(100%, #a8b94f)
    );
    background: -webkit-linear-gradient(left, #e6f1af 0%, #a8b94f 100%);
    background: -o-linear-gradient(left, #e6f1af 0%, #a8b94f 100%);
    background: -ms-linear-gradient(left, #e6f1af 0%, #a8b94f 100%);
    background: linear-gradient(to right, #e6f1af 0%, #a8b94f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f1af', endColorstr='#75890c', GradientType=1 );
}

#start-button:hover,
#start-button:focus {
    box-shadow: none;
    background: rgb(231, 231, 231);
}

#start-button:active {
    border: solid 1px rgb(58, 58, 58);
}

.square {
    width: 50px;
    height: 50px;
}

.snake {
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(51, 116, 235);
    border: 1px #aaa dotted;
}

.apple {
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/apple.png") !important;
}

.shake {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 2em 0;
    font-weight: bold;
}

#score,
label {
    font-size: 1.3rem;
}

#top-score {
    margin-left: 1em;
}

label,
#top-score {
    font-family: karma arcade;
    font-size: 1.3rem;
}

@keyframes shake {
    0% {
    }
    10% {
    }
    20% {
        transform: translate(-16px, 0px) rotate(12deg);
    }
    30% {
        transform: translate(16px, 14px) rotate(0deg);
    }
    40% {
    }
    50% {
    }
    60% {
    }
    70% {
    }
    80% {
    }
    90% {
    }
    100% {
    }
}

.snake-head {
    border-radius: 0 20px 20px 0;
    background-image: url("./images/snake-head.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

.tail {
    background-image: url("./images/tail.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
}
